<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Team B micro-internship Fall 2025</title>
</head>
<body> 
    <div class="student-container">
        <img src="static/img/AndrewTr.JPEG">
    <div class="student-name"> Andrew Truong </div>

    <div class="student-name"> Nathan Espina</div>
    <div class="student-name"> Princeton Nguyen</div>
    <div class="student-name"> Anthony Duenez Ramirez</div>

    </div>
    

    <p>We're all Computer Science Major!!!.</p>


</body>
</html>
