<html>
    <head>
        <title>TensorZero</title>
        <h1>TensorZero is an open-source Rust gateway for industrial-grade LLM applications, offering high-performance inference, observability, optimization, 
        and evaluation.</h1>
    </head>
    <body>
        <h3>
            <a href="https://github.com/tensorzero/tensorzero/issues/1839">Our Github Issue</a>
        </h3>
        <p>The task we've been assigned is asking me to make the AI responses show text appearing word by word, like ChatGPT. 
        This is called “streaming”. It means that instead of waiting for the full response, the answer should come back piece 
        by piece as they're generated in real time. The problem is that this format is in JSON, and Rust can't parse incomplete 
        JSON chunks.</p>
    </body>
</html>