<html>
    <head>
        <title>Team 18</title>
    </head>
    <body>
        <h1>Hello trey_andy_huiguan Team</h1>

        <h2>What We Have In Common</h2>
        <p>All of us are passionate about open source, excited to improve our skills this summer💪, and looking forward to making a positive impact through technology.</p>

        <h3>Team Members</h3>
        <ul>
            <li>Andy Espinoza</li>
            <li>Huiguan Liu</li>
            <li>Trey Todd</li>
        </ul>
    </body>
</html>
