<html>

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Yo</title>
</head>

<body>
    <h1> Summer 2026 Cohort </h1>

    <div class="student-container">
        <div>
            <img src="static/img/maor.jpg">
        </div>
        <div class="student-name"> Maor Barzilay </div>
        <div> School: CSU Long Beach </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is being able to broaden my technical and people skills hands-on
        </p>
        <a href="teamMMME">Team: MMMA </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/DestinyV.jpg">
        </div>
        <div class="student-name"> Destiny Veloz </div>
        <div> School: College of the Desert </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning new skills.
        </p>
        <a href="/DestinyV_KyleP_OscarA">Team: Kyle, Oscar, and Destiny! </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/kyle_parker.jpg">
        </div>
        <div class="student-name"> Kyle Parker </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning how to properly and effectively contribute
             to an open source project.
        </p>
        <a href="/DestinyV_KyleP_OscarA">Team: Kyle, Oscar, and Destiny! </a>
    </div>

</html>

    <div class="student-container">
        <div>
            <img src="static/img/oscar_avil.jpeg">
        </div>
        <div class="student-name"> Oscar Aviles-Saldana </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I am most looking foward to in the CodeDay labs micro-internship is gaining experience working with a team environment
             and contributing to an open source project to help improve my skills as a developer.
        </p>
        <a href="/DestinyV_KyleP_OscarA">Team: Kyle, Oscar, and Destiny! </a>
    </div>

<body>
    
    <div class="student-container">
        <div>
            <img src="static/img/jociel.jpeg">
        </div>
        <div class="student-name"> jociel osorio </div>
        <div> School: Gavilan  </div>
        <p> What I'm most looking forward to is getting an internship and I like to play marvel rivals 
        </p>
        <a href="">Team: N/A </a>
    </div>
    <h1> Summer 2026 Cohort </h1>

    <div class="student-container">
        <div>
            <img src="static/img/jahni.jpg">
        </div>
        <div class="student-name"> Jahnifah Johnson </div>
        <div> School: CSU Fullerton </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is being able to broaden my technical and people skills hands-on
        </p>
        <a href="">Team: N/A </a>
    </div>
        <div class="student-container">
        <div>
            <img src="static/img/milon.jpg">
        </div>
        <div class="student-name"> Milo Neumann </div>
        <div> School: San Francisco State University </div>
        <p> 
            I'm looking forward to working on a team in a programming setting!
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/AnthonyR_pic.PNG">
        </div>
        <div class="student-name"> Anthony RodriguezAlmazan </div>
        <div> School: San Francisco State University </div>
        <p>What I'm most looking forward to about CodeDay Labs internship is improving my programming skills and working with others.
        </p>
        <a href="">Team: </a>
    </div> 

</body>

</html>