<html>

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Yo</title>
</head>

<body>
    <h1> Summer 2026 Cohort </h1>

    <div class="student-container">
        <div>
            <img src="static/img/maor.jpg">
        </div>
        <div class="student-name"> Maor Barzilay </div>
        <div> School: CSU Long Beach </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is being able to broaden my technical and people skills hands-on
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/tony_n.png">
        </div>
        <div class="student-name"> Tony Hoang Nguyen </div>
        <div> School: Orange Coast College </div>
        <p> What I'm looking most forward to about the CodeDay Labs internship is to learn hands on from an experienced mentor and meet people who are like-minded.
        </p>

        <div>
            <img src="static/img/josue_Cr.jpeg">
        </div>
        <div class="student-name"> Josue Cruz </div>
        <div> School: San Francisco State University </div>
        <p>What I'm looking forward to about the CodeDay Labs internship is to create more connections and
            deepen my understanding of open source projects. 
        </p>
        <a href="tony_josue_ruben_demi">Team: Tony, Josue, Ruben, Demi </a>
    </div>
</body>

</html>