<html>

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Yo</title>
</head>

<body>
    <h1> Summer 2026 Cohort </h1>

    <div class="student-container">
        <div>
            <img src="static/img/maor.jpg">
        </div>
        <div class="student-name"> Maor Barzilay </div>
        <div> School: CSU Long Beach </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is being able to broaden my technical and people skills hands-on
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/AnthonyR_pic.PNG">
        </div>
        <div class="student-name"> Anthony RodriguezAlmazan </div>
        <div> School: San Francisco State University </div>
        <p>What I'm most looking forward to about CodeDay Labs internship is improving my programming skills and working with others.
        </p>
        <a href="">Team: </a>
    </div> 

</body>

</html>